.home{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}
.home-logo-wrapper{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}
.home-logo-wrapper img{
    width: 50px;
    margin-bottom: 5px;
}
.home-logo-wrapper h3{
    font-size: 30px;
}
.home-menu{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background-color: #d0cfcf;
}
.home-sub-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.home-sub-header-text{
    font-size: 24px;
    font-weight: bold;
}
.home-sub-header-donwload{
    color: rgb(75, 75, 226);
    cursor: pointer;
}
.home-arrow{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}
.arrow-one{
    font-size: 30px;
}
.home-arrow-flex{
    display: flex;
    align-items: center;
}
.home-docs{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.home-docs-wrapper{
    border: 1px solid rgb(215, 215, 215);
    padding: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}
.home-docs-wrapper:hover{
    background-color: rgb(240, 240, 240);
}
.home-docs-wrapper img{
    margin-bottom: 10px;
}
.home-docs-bottom{
    display: flex;
    gap: 10px;
}
.home-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    color: black;
}
.home-footer a{
    text-decoration: none;
}
/* load modal */
.loadModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadModal-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-50px);
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.loadModal-close{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    cursor: pointer;
}
.loadModal-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.loadModal-logo-content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.loadModal-logo-content img{
    width: 40px;
}
.loadModal-logo-content p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.loadModal-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.loadModal-form label{
    font-size: 20px;
}
.error-message{
    color: rgb(225, 83, 83);
}
.loadModal-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
    &:focus{
        border: 2px solid #007bff;
    }
}
.readOnly-input{
    background-color: rgb(191, 189, 189);
}
.loadModal-checkbox{
    display: flex;
    gap: 5px;
    font: 12px;
}
.loadModal-btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #0069d9;
    }
}
@media (max-width: 1024px) {
    .home-docs-wrapper{
        width: 220px;
    }
}
@media (max-width: 820px) {
    .home-docs{
        flex-direction: column;
    }
    .home-docs-wrapper{
        width: 400px;
    }
    .home-docs-bottom p{
        font-size: 24px;
    }
    .home-footer p{
        font-size: 24px;
    }
}
@media (max-width: 431px) {
    .home-docs-wrapper{
        width: 300px;
    }
    .home-docs-bottom p{
        font-size: 16px;
    }
    .home-footer p{
        font-size: 16px;
    }
}
@media (max-width: 391px) {
    .home-sub-header-text{
        font-size: 20px;
    }
}
@media (max-width: 376px) {
    .home-sub-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        justify-content: space-between;
        padding: 20px;
    }
}